#navbar{
    height: 50px;
    width: 900px;
    background-color: aqua;
    border: 2px solid rgb(227, 21, 172);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.content{
    padding: 5px;
    height: 50px;
    width: 80px;
    font-size: 24px;

}