<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS</title>
  </head>
  <body>
    <h1>This is my first EJS programme</h1>
    <h2><%= 7*8 %></h2>
    <p>
      My name is Rahul Roy.<br />I am a ECE student from RCCIIT.<br />My roll
      no. is ECE2021044
    </p>
    <button>Click me!!</button>
  </body>
</html>
