#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #3f72af;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.todo-container {
  background-color: #fff;
  max-width: 400px;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.task-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  color: #112d4e;
  background-color: #ccdaf5;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-btn {
  padding: 10px;
  background-color: #112d4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.add-btn:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.task-name {
  flex: 1;
  font-size: 18px;
}
.completed {
  text-decoration: line-through;
  color: red; /* Red line through the completed task */
}
.task-actions {
  display: flex;
  gap: 10px;
}

/* .delete-btn,
.done-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
} */

.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #dc3545;
  color: white;
}
.delete-btn:hover {
  background-color: #c82333;
}

.done-btn {
  width: 120px; /* Fixed width to accommodate both "Mark as done" and "Undo" */
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  background-color: #28a745;
  color: white;
}

.done-btn:hover {
  background-color: #218838;
}

/* Style for the "Mark All as Done" button */
.mark-all-btn {
  width: 100%;
  padding: 10px;
  background-color: #112d4e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.mark-all-btn:hover {
  background-color: #0056b3;
}
