<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
  </head>
  <body>
    <h2>Write New Chat....</h2>
    <form method="POST" action="/chats">
      <input placeholder="Who are you?" name="from" />
      <textarea name="msg" placeholder="Write your message here..."></textarea>
      <input placeholder="Add receiver" name="to" />
      <button>Create Chat</button>
    </form>
  </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Chat</title>
    <link rel="stylesheet" href="/new.css" />
  </head>
  <body>
    <div class="form-container">
      <h2>Write New Chat</h2>
      <form method="POST" action="/chats">
        <input
          type="text"
          placeholder="Who are you?"
          name="from"
          required
          class="input-field"
        />
        <textarea
          name="msg"
          placeholder="Write your message here..."
          required
          class="textarea-field"
        ></textarea>
        <input
          type="text"
          placeholder="Add receiver"
          name="to"
          required
          class="input-field"
        />
        <button class="submit-btn">Create Chat</button>
      </form>
    </div>
  </body>
</html>
