<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Route</title>
  </head>
  <body>
    <h1>You are about to edit this id: <%= user.email %></h1>
    <form method="post" action="/user/<%= user.id %>?_method=PATCH">
      <textarea name="username"><%= user.username %></textarea>
      <input type="password" name="password" placeholder="enter password" />
      <button>edit</button>
    </form>
  </body>
</html>
