<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Data</title>
    <style>
      table,
      th,
      td {
        border: 2px solid black;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
        <th>edit</th>
      </tr>
      <% for(user of users){ %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <form method="GET" action="user/<%= user.id %>/edit">
            <button>edit username</button>
          </form>
        </td>
      </tr>
      <%}%>
    </table>
  </body>
</html>
