<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get all posts</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Quora Posts</h1>
    <% for(post of posts){%>
    <div class="posts">
      <h2 class="username">@<%= post.username %></h2>
      <h3 class="content"><%= post.content %></h3>
    </div>
    <%} %>
    <br />
    <br />
    <div class="new">
      <a href="http://localhost:3000/posts/new">Create a new post</a>
    </div>
  </body>
</html>
