body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    color: brown; 
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
}
h3{
   text-align: center;
   color: black;
}
h4{
   text-align: center;
  
}
a{
    color: rgb(0, 143, 0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}
span{
    text-decoration:underline;
}
