
/* Question 1 */

.box{
    padding: 0;
    margin: 0;
    height: 400px;
    width: 400px;
    display: grid;
    background-color:rgb(136, 190, 43);
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    grid-gap: 10px;
}
.box div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: bisque;
    font-family: "Butterfly Kids", cursive;
    border: 2px solid aqua;
    background-color:blueviolet;
}
.header{
    grid-column: 1/13;
}
.sidebar{
    grid-row: 2/12;
    grid-column: 1/4;
}
.navigation{
    grid-column: 4/10;
}
.ads{
    grid-column: 10/13;
    grid-row: 2/12;
}
.main{
    grid-row: 3/12;
    grid-column: 4/10;

}
.footer{
    grid-row: 12/13;
     grid-column: 1/13;
}

/* Question 2 */

@media (max-width:720px){
    .header{
        grid-column: 1/13;
    }
    .sidebar{
        grid-row: 3/12;
        grid-column: 1/4;
    }
    .navigation{
        grid-row: 2/3;
        grid-column: 1/13;
    }
    .ads{
        grid-column: 1/4;
        grid-row: 12/13;
    }
    .main{
        grid-row: 3/12;
        grid-column: 4/13;
    
    }
    .footer{
        grid-row: 12/13;
        grid-column: 4/13;
    }
     
}