<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new posts</title>
  </head>
  <body>
    <form method="post" action="/posts">
      <input type="text" placeholder="Enter Username" name="username" /> <br />
      <br />
      <textarea name="content" placeholder="Write your opinion"></textarea>
      <br />
      <button>Submit your post</button>
    </form>
  </body>
</html>
