<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post Details</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h2>Here is your post details</h2>
    <p>Post id:<%= post.id %></p>
    <div class="posts">
      <h2 class="username">@<%= post.username %></h2>
      <h3 class="content"><%= post.content %></h3>
    </div>
  </body>
</html>
